<!DOCTYPE html>
<html>
   <head>
      <title>Bull Rush</title>
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
      <link rel='stylesheet' href="/stylesheets/style.css" />
      <link rel='manifest' href="/manifest.json" />
   </head>
   <body>
      <div class="row">
         <div class="col-sm-3">
            <button id="newGame" onClick="endGame()">New Game</button>
         </div>
         <div class="col-sm-3">
			<input id="seed" type="number" value="" placeholder="Random Seed">
		 </div>
         <div class="col-sm-3">
            <h1 id="score">Score: 0</h1>
         </div>
         <div class="col-sm-3">
            <h1 id="lap">Lap: 1</h1>
            <div class="dpadAttackSmall" onClick="dpadInput('PadAttack')"></div>
            <div class="dpadWaitSmall" onClick="dpadInput('PadWait')"></div>
         </div>
      </div>
      <table class="dpad">
         <tr>
            <td>
               <div/>
            </td>
            <td>
               <div class="dpadKey" onClick="dpadInput('PadUp')"></div>
            </td>
            <td>
               <div class="dpadSpacer"></div>
            </td>
            <td>
               <div class="dpadWait" onClick="dpadInput('PadWait')"></div>
            </td>
         </tr>
         <tr>
            <td>
               <div class="dpadKey" onClick="dpadInput('PadLeft')"></div>
            </td>
            <td>
               <div/>
            </td>
            <td>
               <div class="dpadKey" onClick="dpadInput('PadRight')"></div>
            </td>
         </tr>
         <tr>
            <td>
               <div/>
            </td>
            <td>
               <div class="dpadKey" onClick="dpadInput('PadDown')"></div>
            </td>
            <td>
               <div class="dpadSpacer"></div>
            </td>
            <td>
               <div class="dpadAttack" onClick="dpadInput('PadAttack')"></div>
            </td>
         </tr>
      </table>
      <div class="container">
         <div class="row">
            <div class="col-sm-6">
               <h2  class="text-left">Instructions</h2>
               <hr>
               <div class="instructions">
                  <p class="text-left">You’re the blue square</p>
                  <p class="text-left">White squares are your friends</p>
                  <p class="text-left">Red Squares are not your friends</p>
                  <p class="text-left">Arrow keys/WASD to move
                  <p class="text-left">E or Space to wait</p>
                  <p class="text-left">Hold Shift or Q to stun</p>
                  <p class="text-left">Stun a white square for a power up</p>
                  <p class="text-left">Click on a tile to path find. Use with care!</p>
                  <p class="text-left">Collect gold squares and get to other side!</p>
                  <p class="text-left">Every six laps is a new level</p>
               </div>
            </div>
            <div class="col-sm-6">
               <h2  class="text-left">High Scores</h2>
               <hr>
               <div>
                  <table style="width: 100%">
                     <% for(var i=0; i<scores.length; i++) { %>
                     <tr class="text-left">
                        <td class="score_col">
                           <%= scores[i].name %>
                        </td>
                        <td class="score_col">
                           <%= scores[i].score %>
                        </td>
                     </tr>
                     <% } %>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script type="text/javascript" src="../javascripts/astar.js"></script>
      <script type="text/javascript" src="../javascripts/pos.js"></script>
      <script type="text/javascript" src="../javascripts/actor/actor.js"></script>
      <script type="text/javascript" src="../javascripts/actor/actors.js"></script>
      <script type="text/javascript" src="../javascripts/actor/wolf.js"></script>
      <script type="text/javascript" src="../javascripts/actor/player.js"></script>
      <script type="text/javascript" src="../javascripts/actor/sheep.js"></script>
      <script type="text/javascript" src="../javascripts/actor/power/power_up.js"></script>
      <script type="text/javascript" src="../javascripts/actor/power/bursts.js"></script>
      <script type="text/javascript" src="../javascripts/actor/power/hats.js"></script>
      <script type="text/javascript" src="../javascripts/game.js"></script>
      <script type="text/javascript" src="../javascripts/bullrush.js"></script>
      <script type="text/javascript" src="../javascripts/prng.js"></script>
   </body>
</html>