<!DOCTYPE html>
<html>
   <head>
      <title>Bull Rush</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
      <div class="container" id="canvas_container"></div>
      <h2>Score: 0</h2>
      <table>
          <tr>
            <td><div/></td>
            <td><div class="dpad" onClick="dpadInput('PadUp')"></div></td>
            <td><div/></td>
            </tr>
          <tr>
          <td><div class="dpad" onClick="dpadInput('PadLeft')"></div></td>
            <td><div class="dpad" onClick="dpadInput('PadWait')"></div></td>
            <td><div class="dpad" onClick="dpadInput('PadRight')"></div></td>
            </tr>
          <tr>
            <td><div/></td>
            <td><div class="dpad" onClick="dpadInput('PadDown')"></div></td>
            <td><div/></td>
            </tr>
      </table>

      <h3>High Scores</h3>
      <div>
         <table>
            <% for(var i=0; i<scores.length; i++) { %>
            <tr>
               <td class="score_col">
                  <%= scores[i].name %>
               </td>
               <td class="score_col">
                  <%= scores[i].score %>
               </td>
            </tr>
            <% } %>
         </table>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script type="text/javascript" src="../javascripts/bullrush.js"></script>
      <script type="text/javascript" src="../javascripts/astar.js"></script>
      <script type="text/javascript" src="../javascripts/prng.js"></script>
   </body>
</html>