<!DOCTYPE html>
<html>
   <head>
      <title>Bull Rush</title>
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
      <link rel='stylesheet' href="/stylesheets/style.css" />
      <link rel='manifest' href="/manifest.json" />
   </head>
   <body>
      <div class="container-fluid" id="canvas_container"></div>
      <div class="row">
         <div class="col-sm-3">
            <button id="newGame" onClick="endGame()">New Game</button>
         </div>
         <div class="col-sm-3">
			<input id="seed" type="number" value="" placeholder="Random Seed">
		 </div>
         <div class="col-sm-3">
            <h1 id="score">Score: 0</h1>
         </div>
         <div class="col-sm-3">
            <h1 id="lap">Lap: 1</h1>
            <div class="dpadAttackSmall" onClick="dpadInput('PadAttack')"></div>
            <div class="dpadWaitSmall" onClick="dpadInput('PadWait')"></div>
         </div>
      </div>
      <table class="dpad">
         <tr>
            <td>
               <div/>
            </td>
            <td>
               <div class="dpadKey" onClick="dpadInput('PadUp')"></div>
            </td>
            <td>
               <div class="dpadSpacer"></div>
            </td>
            <td>
               <div class="dpadWait" onClick="dpadInput('PadWait')"></div>
            </td>
         </tr>
         <tr>
            <td>
               <div class="dpadKey" onClick="dpadInput('PadLeft')"></div>
            </td>
            <td>
               <div/>
            </td>
            <td>
               <div class="dpadKey" onClick="dpadInput('PadRight')"></div>
            </td>
         </tr>
         <tr>
            <td>
               <div/>
            </td>
            <td>
               <div class="dpadKey" onClick="dpadInput('PadDown')"></div>
            </td>
            <td>
               <div class="dpadSpacer"></div>
            </td>
            <td>
               <div class="dpadAttack" onClick="dpadInput('PadAttack')"></div>
            </td>
         </tr>
      </table>
      <div class="row">
         <div class="col-sm-12">
         </div>
         <div class="col-sm-12">
            <h2>Instructions</h2>
            <hr>
         </div>
         <div class="col-sm-12">
            <div class="instructions">
               <p>You’re the blue square</p>
               <p>White squares are your friends</p>
               <p>Red Squares are not your friends</p>
               <p>Arrow keys/WASD to move
               <p>E or Space to wait</p>
               <p>Hold Shift or Q to stun</p>
               <p>Stun a white square for a power up</p>
               <p>Feeling lucky? Tap/click on a tile!</p>
               <p>Collect gold squares and get to other side!</p>
               <br>
               <p><a href="https://itsmaze.herokuapp.com">Also check out Max's Maze Game</a></p>
            </div>
         </div>
         <div class="col-sm-12">
            <h2>High Scores</h2>
            <hr>
         </div>
         <div class="col-sm-6">
            <div>
               <table>
                  <% for(var i=0; i<scores.length/2; i++) { %>
                  <tr>
                     <td class="score_col">
                        <%= scores[i].name %>
                     </td>
                     <td class="score_col">
                        <%= scores[i].score %>
                     </td>
                  </tr>
                  <% } %>
               </table>
            </div>
         </div>
         <div class="col-sm-6">
            <div>
               <table>
                  <% for(var i=scores.length/2; i<scores.length; i++) { %>
                  <tr>
                     <td class="score_col">
                        <%= scores[i].name %>
                     </td>
                     <td class="score_col">
                        <%= scores[i].score %>
                     </td>
                  </tr>
                  <% } %>
               </table>
            </div>
         </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script type="text/javascript" src="../javascripts/astar.js"></script>
      <script type="text/javascript" src="../javascripts/pos.js"></script>
      <script type="text/javascript" src="../javascripts/actor/actor.js"></script>
      <script type="text/javascript" src="../javascripts/actor/actors.js"></script>
      <script type="text/javascript" src="../javascripts/actor/wolf.js"></script>
      <script type="text/javascript" src="../javascripts/actor/player.js"></script>
      <script type="text/javascript" src="../javascripts/actor/sheep.js"></script>
      <script type="text/javascript" src="../javascripts/actor/power/power_up.js"></script>
      <script type="text/javascript" src="../javascripts/actor/power/bursts.js"></script>
      <script type="text/javascript" src="../javascripts/actor/power/hats.js"></script>
      <script type="text/javascript" src="../javascripts/game.js"></script>
      <script type="text/javascript" src="../javascripts/bullrush.js"></script>
      <script type="text/javascript" src="../javascripts/prng.js"></script>
   </body>
</html>