body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: dimgray;
}

.container-fluid {
    padding-top: 40px;
    max-width: 100%;
}

table {
    margin: auto;
}

hr {
    margin-left: 100px;
    margin-right: 100px;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    font-size: xx-large;
}

h2 {
    padding-top: 40px;
    color: white;
    text-align: center;
    font-size: 40px;
}

.score_col {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    margin: 10px;
    padding: 10px;
    background: dimgray;
    border: 3px solid white;
    border-radius: 20px;
}

input {: white;
    margin: 10px;
    padding: 10px;
    background: dimgray;
    border: 3px solid white;
    border-radius: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgrey;
    opacity: 1; /* Firefox */
}

p {
    text-align: center;
    padding-top: 20px;
}

a {
    color: skyblue;
}

* {
    color: white;
    text-align: center;
    font-size: x-large;
}

.disable-doubletap-to-zoom {
    touch-action: none;
}

@media screen and (orientation:portrait) {

    #container {
        -ms-transform: rotate(-90deg); /* IE 9 */
        -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
        transform: rotate(-90deg);
        width: 100%;
        overflow: scroll;
    }
}

@media only screen and (max-width: 1200px) {

    .container-fluid {
        padding: 0px;
        width: 80%;
        height: 80%;
    }

    .dpad {
        margin: 600px auto 100px;
    }

    .dpadKey {
        width: 140px;
        height: 140px;
        margin: 10px;
        background: #00BFFF;
    }

    .dpadAttack {
        width: 140px;
        height: 140px;
        margin: 10px;
        background: #FF0000;
    }

    .dpadWait {
        width: 140px;
        height: 140px;
        margin: 10px;
        background: #FFFFFF;
    }

    .dpadAttackSmall {
        width: 70px;
        height: 70px;
        margin-left: 150px;
        margin-top: -250px;
        background: #FF0000;
    }

    .dpadWaitSmall {
        width: 70px;
        height: 70px;
        margin-left: 150px;
        margin-top: -240px;
        background: #FFFFFF;
    }

    .dpadSpacer {
        width: 300px;
        height: 140px;
        margin: 10px;
    }

    input {: white;
        margin: 10px;
        padding: 10px;
        width: 250px;
        background: dimgray;
        border: 3px solid white;
        border-radius: 20px;
    }

}