body {
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: dimgray;
}

.container {
  margin: auto;
  padding: 10px;
}

table {
  margin: auto;
  padding: 10px;
}

h2 {
  color: white;
  text-align: center;
  font-size: xx-large;
}

h3 {
  color: white;
  text-align: center;
  font-size: xx-large;
}

.score_col {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

table {
  padding-top: 0px;
}

* {
  color: white;
  text-align: center;
  font-size: x-large;
}

.dpad {
  width: 60px;
  height: 60px;
  margin: 10px;
  background: skyblue;
  border-radius: 20px;
}