body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: dimgray;
}

.container {
  margin: auto;
  padding: 10px;
}

h2 {
  color: white;
  text-align: center;
  font-size: xx-large;
}